@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@font-face {
  font-family: "ClearSans";
  src: url("./fonts/ClearSans.woff2") format("woff2"),
    url("./fonts//ClearSans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.arrowIcon {
  mask: url(../public/assets/icons/launchArrow.svg);
  mask-size: cover;
}

.sendIcon {
  mask: url(../public/assets/icons/sendIcon.svg);
  mask-size: cover;
}

.receiveIcon {
  mask: url(../public/assets/icons/receiveIcon.svg);
  mask-size: cover;
}

.swapIcon {
  mask: url(../public/assets/icons/swapIcon.svg);
  mask-size: cover;
}

.gradientBg {
  background: radial-gradient(
      circle 70vh at 70% 50%,
      rgba(235, 189, 157, 0.21) 0%,
      rgba(142, 178, 203, 0) 100%
    )
    no-repeat;
  opacity: 0.5;
  /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
}

.gradientTab {
  background: linear-gradient(269.52deg, #f099a2 0.41%, #d9d9d9 99.69%);
}

.scrollFunc::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollFunc {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.styled-select select {
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
}

.gradientBalance {
  background: linear-gradient(180deg, #3a3d48 0%, #3a3d480b 100%);
}
