.ripple-button {
  position: relative;
  overflow: hidden;
}

.ripple-button .ripple {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(190, 79, 79, 0.2);
  transform: scale(0);
  animation: ripple 0.6s linear;
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}
